/*variables*/
:root {
    --background-html: black;
    --background-header: rgb(132, 113, 3);
    --background-section: white;
    --borderhighlight: .25em solid gold;
    --borderfarhighlight: .25em solid rgb(132, 113, 3);
    --bordershadow: .25em solid rgb(117, 114, 114);
    --borderfarshadow: .25em solid rgb(64, 63, 63);
    --fontcolor: rgb(41, 40, 40);
    --color-head-foot: gold; 
    --fontfamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-large: 2em;
    --font-x-large: 3em;
    --links: gold;
}

/*elements*/
html {
    background-color: var(--background-html);
    font-family: var(--fontfamily);
}

body {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

header,
footer {
    background-color: var(--background-header);
}

header,
footer {
    padding: .5em;
    width: 100%;
}

header {
    align-items: center;
    border-bottom: var(--borderhighlight);
    border-left: var(--bordershadow);
    border-right: var(--bordershadow);
    border-top: var(--borderfarshadow);
    display: flex;
    justify-content: space-between;
    margin: .5em .5em 0 .5em;
}

h1 {
    color: var(--color-head-foot);
    margin: 0;
    width: 28%;
}

ul {
    display: flex;
    padding: .5em;
}

li {
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    padding: .5em;
}

a {
    color: var(--links);
    font-weight: 650;
}

main {
    background-color: var(--background-section);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 .5em 0 .5em;
    padding: 1.5em;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2 {
    font-size: var(--font-large);
    font-weight: 650px;
    text-align: right;
    width: 15%;
}

card {
    align-items: center;
    border-left: var(--borderhighlight);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: .5em 1em .5em 0;
    padding: 1.5em;
    width: 65%;
}

p {
    margin: .5em 2em;
    width: 45%;
}

footer {
    border-bottom: var(--borderfarshadow);
    border-left: var(--bordershadow);
    border-right: var(--bordershadow);
    border-top: var(--borderhighlight);
    margin: 0 .5em .5em .5em;
    text-align: center;
}

/*classes*/

#about img {
    border-radius: 25%;
    height: max-content;
    width: 45%
}

#projects img {
    border-radius: 15%;
    margin: 0.5em;
}

.project1 {
    width: 45%;
}

.projects {
    width: 12em
}

#contact a {
    display: block;
}

#contact p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrnowr
}

#contact ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    /* width: 12em; */
}

#contact li {
    font-size: 1em;
}

h3 {
    color: var(--color-head-foot);
}

@media screen and (max-width:1080px) {
    h2 {
        text-align: center;
        width: 70%;
    }

    card {
        border-top: var(--borderhighlight);
        border-left: none;
        margin: auto;
    }
    
    p {
        text-align:left;

    }

    @media screen and (max-width:1065px) {
        #about img {
            margin: auto;
            width: 85%
        }

        p {
            padding: 1em;
            margin: auto;
            width: 85%;
        }

        @media screen and (max-width:768px) {

            ul {
                display: flex;
                flex-direction: column;
            }

            card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 70%
            }

            .project1 {
                width: 85%;
            }

            .projects {
                width: 65%;
            }
        }
    }
}